bin
tmp
distribution
.DS_Store
.settings/org.eclipse.jdt.core.prefs
.classpath
.classpath
examples/LoadAudioToImage/pixelAudio.png
examples/LoadAudioToImage/pixelAudio_000.png
examples/SaveAudioImage/wavesynth.wav
